[submodule "Vendor/tinyobjloader"]
	path = Vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vendor/efsw"]
	path = Vendor/efsw
	url = https://github.com/SpartanJ/efsw
[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "Vendor/filewatch"]
	path = Vendor/filewatch
	url = https://github.com/ThomasMonkman/filewatch
